if rooms.length
    .d-grid(style='grid-template-columns: 1fr 1fr;grid-gap: 4px')
        for room in rooms
            .card
                .card-body
                    h5.card-title
                        | #{room.name}
                    div
                        p.m-0
                            i.fas.fa-play.me-1
                            if room.playing
                                | 플레이중(클릭해 관전)
                            else
                                | 대기중(클릭해 입장하세요)
                        p.m-0
                            i.fas.fa-globe.me-1
                            | 공개방
                        p.m-0
                            i.fas.fa-tachometer-alt.me-1
                            | 노트 속도: #{room.note_speed}ms
                        p.m-0
                            i.fas.fa-music.me-1
                            | 음악: #{room.music_name}
                        p.m-0
                            i.fas.fa-map.me-1
                            | 채보: #{room.note != null ? `{room.note.musicname}(Note By ${room.note.author_name})` : '채보 없음'}
else
    .card
        .card-body.d-flex.flex-column.flex-lg-row.align-items-center
            h4.card-title.m-0 방이 없네요! 첫번째 방을 만들어보세요!
            .flex-grow-1
            a(href='/newroom').btn.btn-outline-primary 방 만들기